parameters:
  level: 5
  paths:
    - app
    - database
    - routes
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
  parallel:
    maximumNumberOfProcesses: 0
  reportUnmatchedIgnoredErrors: false
